{% extends 'base.html.twig' %}

{% block title %}Hello world!{% endblock %}

{% block content %}
    <h1>Rating app</h1>

    <p>Welcome to the rating app!</p>

    {% if not app.user %}
        <p>
            To get started, please login using your SymfonyConnect account.
            We won't save any information until your comment on an event.
        </p>

        <p>
            <a href="{{ path('symfony_connect_login') }}" class="btn btn-primary">Connect with Symfony Connect</a>
        </p>
    {% else %}
        <p>
            <a href="{{ path('review_index') }}" class="btn btn-primary">Go to events list</a>
        </p>

        <p>
            <a href="{{ path('logout') }}">Logout</a>
        </p>
    {% endif %}
{% endblock %}
