{% extends 'base.html.twig' %}

{% block title %}Hello world!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello world!</h1>

        <a href="{{ url('symfony_connect_login') }}">Connect with Symfony Connect</a>
    </div>
{% endblock %}
