{% extends 'base.html.twig' %}

{% block title %}Hello CommentController!{% endblock %}

{% block content %}
    <h1>Hello {{ username }}!</h1>

    <h2>Events you attended:</h2>

    {% for event in events %}
        <h3>{{ event.name }}</h3>
        <a href="{{ path('review_event', {id: event.id}) }}">Leave review</a>
    {% endfor %}
{% endblock %}
